<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gif Converter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="http://nacr.us/asset/nacrGif/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="http://nacr.us/asset/nacrGif/css/flat-ui.css" rel="stylesheet">

    <link rel="shortcut icon" href="http://nacr.us/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


    <div class="container">
      <div style="padding: 43px 0 23px; text-align: center;">
        <h1 class="demo-logo">
          GifMachine
          <small>Create .gif's from Youtube videos.</small>
        </h1>
      </div>

      <div class="span6">
        <div class="row">
          <div class="span4 offset2">
            <input type="text" value="" placeholder="Youtube Link" class="span4" id="youtubeUrl"/>
          </div>
        </div> <!-- /row -->

        <div class="row">
          <div class="span3 offset2">
            <input type="text" value="" placeholder="Start Time (HH:MM:SS)" class="span3" id="startTime"/>
          </div>
        </div> <!-- /row -->

        <div class="row">
          <div class="span3 offset2">
            <input type="text" value="" placeholder="End Time (HH:MM:SS)" class="span3" id="endTime"/>
          </div>
        </div> <!-- /row -->

        <div class="row">
          <div class="span3 offset2">
            <input type="text" value="" placeholder="Width (Optional)" class="span3" id="vidWidth"/>
          </div>
        </div> <!-- /row -->

      </div> <!-- /span -->

      <div class="span4">
        <h2>Huh?</h2>
        <p> Use GifMaker to create animated gifs from your favorite Youtube videos. Enter the URL to the Youtube video, the time the gif should start at and the time the gif should end at.
        </p>
        <p> Optionally, you can change the width of the .gif file to be created. If you don't enter a value for this, then it defaults to 150 pixels wide. Super easy : )</p>
      </div>

      <div class="span6 offset3">
        <div class="row">
          <div class="progress">
            <div class="bar" style="width: 50; visibility: hidden;" id="progressBar">
            </div>
          </div>
        </div>
      </div> <!-- /row -->

      <div class="span4 offset4">
        <div class="row">
          <div class="span4">
            <a href="javascript:void(0)" class="btn btn-large btn-block btn-primary" id="submitBtn">Make a gif!</a>
          </div>
        </div> <!-- /row -->
      </div>

      <div class="span4 offset4" ><!-- style="float: none; margin-right: auto; margin-left: auto"> -->
        <div style="padding: 100px 0 0 0;">
          <small><p>Find <a href="https://github.com/lelandbatey/gif-machine">GifMachine on Github.</a> Made by <a href="http://lelandbatey.com">Leland Batey.</a></p></small>
        </div>
      </div>

    </div> <!-- /container -->

    
    
    <!-- Load JS here for greater good =============================-->

<script type="text/javascript">

var incrementer = 0; // Will be used for super ghetto updater bar.
var shouldProgress= 0; // flag for if the progressBar should be working.

// When the submitBtn is clicked, this function happens.
$('#submitBtn').click(function(){



    // btn btn-large btn-block disabled
    // $('.btn-primary').addClass('btn-block').removeClass('btn-primary');

    //Set button disabled
    // $("#submitBtn").attr("disabled", "disabled");
    // $("#submitBtn").toggleClass('btn-primary disabled');
    $("#submitBtn").removeClass('btn-primary').addClass('disabled');
    $("#submitBtn").text("This will take a while... You'll be redirected when it's done.")

    shouldProgress = 1;

    var youtubeUrl = $('#youtubeUrl').val();
    var startTime  = $('#startTime').val();
    var endTime    = $('#endTime').val();
    var vidWidth   = $('#vidWidth').val();

    var makeURL = window.location.href+'/makegif'

    $.ajax({
        type: "post",
        url: makeURL,
        data: JSON.stringify({
                 "videoLink" : window.btoa(youtubeUrl),
                 "startTime" : startTime,
                 "endTime"   : endTime,
                 "width"     : vidWidth
                }),
        success: function(data){

                    console.log("Why aren't we changing?");
                    window.location.href = data["imgAddress"];
            },
        error: function(whoa, errormsg, errorThrown){
            console.log("Something bad happened.");
            console.log("errormsg:"+errormsg)

        },
        contentType:"application/json; charset=utf-8",
        headers: {
            'Content-Type': 'application/json'
        },
        dataType: "json"
    });

});


( function updateBar(){
  setTimeout(function(){
    // console.log("It's working!");
    if (shouldProgress > 0) {
      $("#progressBar").css('visibility', 'visible');
      $("#progressBar").css('width',incrementer+"%");
      incrementer += 1;
    };
    updateBar();
  }, 400);
})();


</script>
  </body>
</html>